.dropdown-cart_button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

.dropdown-cart_close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: all 0.3s;
}

.dropdown-cart_close-btn:hover {
  color: var(--color-primary);
}

.dropdown-cart {
  position: fixed;
  top: 0;
  right: -45%; /* Inicialmente fuera de la pantalla */
  width: 45%;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  overflow-y: auto;
  transition: right 0.3s ease-in-out; /* Transición suave */
  z-index: 9;
}

.dropdown-cart.active {
  right: 0; /* Muestra el carrito */
}

.dropdown-cart_title {
  margin-top: 0;
  font-family: "Volkhov", serif;
  font-size: 4rem;
  font-weight: 400;
}

.dropdown-cart_info {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-top: 0.75rem;
  color: var(--color-dark-gray);
}

.dropdown-cart_info > span {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-black);
}

.dropdown-cart_product {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.dropdown-cart_product-image {
  width: 30%;
  height: max-content;
  border-radius: 5px;
}

.dropdown-cart_product-name {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
}

.dropdown-cart_product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown-cart_product-color {
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-dark-gray);
}

.dropdown-cart_product-price {
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.dropdown-cart_quantity-control {
  display: flex;
  margin-top: 2rem;
  background-color: var(--color-light-gray);
  box-sizing: border-box;
  align-items: center;
}

.dropdown-cart_quantity-btn {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  background: none;
  border: none;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.dropdown-cart_quantity-input {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  background-color: var(--color-light-gray);
  border: none;
  color: var(--color-dark-gray);
  padding: 1rem;
  width: 5rem;
  text-align: center;
}

.dropdown-cart_wrap-option {
  display: flex;
  margin-top: 20rem;
  margin-bottom: 1rem;
}

.dropdown-cart_wrap-checkbox {
  border-radius: 0;
  width: 2.5rem;
  border: 2px solid var(--color-black);
}

.dropdown-cart_wrap-label {
  margin-left: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: var(--color-dark-gray);
}

.dropdown-cart_wrap-label > span {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: var(--color-black);
}

.dropdown-cart_subtotal {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.dropdown-cart_subtotal-label {
  font-size: 2.5rem;
}

.dropdown-cart_subtotal-amount {
  font-size: 2.5rem;
}

.dropdown-cart_checkout-btn {
  display: block;
  margin-top: 3rem;
  width: 100%;
  padding: 1.75rem;
  box-sizing: border-box;
  border: solid 1px var(--color-primary);
  border-radius: 1rem;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.4);
  color: var(--color-white);
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  background-color: var(--color-primary);
}
.dropdown-cart_checkout-btn:hover {
  background-color: transparent;
  color: var(--color-primary);
}

.dropdown-cart_view-cart {
  display: block;
  text-align: center;
  margin-top: 2rem;
  font-family: "Volkhov", serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-black);
}

/* --- Para pantallas menores a 768px --- */
@media (max-width: 768px) {
  .dropdown-cart_button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
  }

  .dropdown-cart_close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .dropdown-cart_title {
    font-size: 2.5rem; /* Ajusta el tamaño del título para pantallas pequeñas */
    text-align: center;
  }

  .dropdown-cart_info {
    font-size: 1.6rem; /* Ajusta el tamaño del texto de la información */
    text-align: center;
  }

  .dropdown-cart_product {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center;
  }

  .dropdown-cart_product-image {
    width: 100%; /* La imagen ocupa todo el ancho disponible */
    max-width: 150px; /* Limita el tamaño máximo */
  }

  .dropdown-cart_product-info {
    align-items: center;
    text-align: center;
  }

  .dropdown-cart_product-name {
    font-size: 1.8rem;
  }

  .dropdown-cart_product-color,
  .dropdown-cart_product-price {
    font-size: 1.6rem;
  }

  .dropdown-cart_quantity-control {
    justify-content: center;
    margin-top: 1rem;
  }

  .dropdown-cart_quantity-btn {
    font-size: 2rem;
  }

  .dropdown-cart_quantity-input {
    font-size: 2rem;
    width: 4rem;
  }

  .dropdown-cart_wrap-option {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .dropdown-cart_wrap-label {
    font-size: 1.6rem;
    text-align: center;
  }

  .dropdown-cart_subtotal {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .dropdown-cart_subtotal-label,
  .dropdown-cart_subtotal-amount {
    font-size: 2rem;
  }

  .dropdown-cart_checkout-btn {
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .dropdown-cart_view-cart {
    font-size: 2rem;
  }
}
