.hot-sales-banner {
  display: flex;
  justify-content: center;
  background-color: #dbd0cc;
  min-height: calc(80dvh - 111px);
  width: 100%;
  margin-inline: auto;
}

.hot-sales-banner_image {
  width: 50%;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 1.25rem;
  margin-block-end: 1.5rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.hot-sales-banner_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}

.hot-sales-banner_info_description {
  font-size: 2.4rem;
  color: var(--color-black);
  margin-bottom: 1rem;
}

.hot-sales-banner_info_title {
  font-size: 5rem;
  color: #a86a3d;
  margin-bottom: 1rem;
  object-fit: contain;
}

.hot-sales-banner_btn {
  width: 30%;
  padding: 1.75rem;
  margin-top: 2rem;
  box-sizing: border-box;
  border: solid 1px var(--color-black);
  border-radius: 1rem;
  color: var(--color-black);
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1.75rem;
}
.hot-sales-banner_btn:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* --- Para pantallas menores a 768px (tabletas y móviles) --- */
@media (max-width: 768px) {
  .hot-sales-banner {
    display: flex;
    align-items: center;
    flex-direction: column; /* Apilamos la imagen y la información */
    min-height: auto; /* Elimina la altura mínima para que se ajuste automáticamente */
    padding: 2rem 1rem; /* Añade un poco de padding interno */
  }

  .hot-sales-banner_image {
    width: 70%; /* La imagen ocupa todo el ancho disponible */
    height: auto;
    margin-top: 2rem; /* Reduce los márgenes superiores e inferiores */
    margin-bottom: 2rem;
  }

  .hot-sales-banner_info {
    padding: 1rem; /* Reduce el padding general */
    align-items: center; /* Centra el contenido */
    text-align: center; /* Alinea el texto al centro */
  }

  .hot-sales-banner_info_description {
    font-size: 2rem; /* Se reduce el tamaño de la fuente */
  }

  .hot-sales-banner_info_title {
    font-size: 3.5rem; /* Reduce el tamaño del título */
  }

  .hot-sales-banner_btn {
    width: 100%; /* El botón ocupa el ancho completo */
    font-size: 1.5rem; /* Reduce ligeramente el tamaño de la fuente */
    padding: 1.25rem; /* Ajuste en el padding para evitar que se vea demasiado grande */
    margin-top: 1.5rem; /* Reduce la separación superior */
  }
}

/* --- Para pantallas menores a 1024px (tabletas horizontales) --- */
@media (max-width: 1024px) {
  .hot-sales-banner_info {
    padding: 2rem; /* Ajuste del padding */
    justify-content: center; /* Centra verticalmente la información */
    align-items: center; /* Alinea la información a la izquierda */
    text-align: center; /* Alineación del texto a la izquierda */
  }

  .hot-sales-banner_info_description {
    font-size: 2.2rem; /* Ajuste en el tamaño del texto */
  }

  .hot-sales-banner_info_title {
    font-size: 4rem; /* Reduce ligeramente el tamaño del título */
  }

  .hot-sales-banner_btn {
    width: 50%; /* El botón ocupa el 50% del ancho disponible */
    font-size: 1.75rem;
    padding: 1.5rem; /* Se reduce el padding */
    margin-top: 1.5rem;
  }
}
